.a1{
    color: seagreen;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
}
.a2{
    color: sienna;
    font-style: normal;
    text-align: left;
    text-transform: lowercase;
}
.a3{
    color: skyblue;
    font-style: italic;
    text-align: right;
    text-transform: uppercase;

}
